<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h2 style="color:#334b88;" ><strong><em>Контакты</em></strong></h2>
<div style="padding-top: 20px;">

    <table style="font-size:16px; border-collapse:collapse;width:100%;color:#334b88; font-weight:bold;">
        <tbody>
        <tr>
            <td width="45"><a href="tel:+73452560333" target="_blank"><img
                src="/icon/tel1.png"
                width="30" class="" style="margin:2px;"></a></td>
            <td>&nbsp;+7 (3452) 560-333
            </td>
        </tr>
        <tr>
            <td  style="height: 5px;" >&nbsp;</td>
        </tr>
        <tr>
            <td><img
                src="/icon/tel1.png" width="30"
                class=""></td>
            <td><a href="tel:+79292696191" style="color:#334b88">+7 (929) 269-61-91</a></td>
        </tr>
        <tr>
            <td  style="height: 5px;" >&nbsp;</td>
        </tr>
        <tr>
            <td><a href="https://vk.com/avto_as" target="_blank"><img alt="" src="/icon/vk1.png" width="30"></a></td>
            <td><a href="https://vk.com/avto_as" target="_blank" style="color:#334b88">avto_as</a>
            </td>
        </tr>
        <tr>
            <td  style="height: 5px;" >&nbsp;</td>
        </tr>
        <tr>
            <td><a href="https://www.instagram.com/avto.as.shop/"  target="_blank"><img alt="" src="https://xn----7sbbiggwx5a7ag.xn--p1ai/storage/uploaded/instagram.png"
                     width="30" ></a></td>
            <td><a href="https://www.instagram.com/avto.as.shop/" style="color:#334b88;" target="_blank">avto.as.shop</a></td>
        </tr>
        <tr>
            <td  style="height: 5px;" >&nbsp;</td>
        </tr>
        <tr>
            <td><a
                href="mailto:detali-tmn@yandex.ru" target="_blank" style="color:#334b88;" ><img alt="" src="/icon/email1.png" width="30"></a></td>
            <td><a
                href="mailto:detali-tmn@yandex.ru" target="_blank" style="color:#334b88;" >detali-tmn@yandex.ru</a>
            </td>
        </tr>
        <tr>
            <td  style="height: 5px;" >&nbsp;</td>
        </tr>
        <tr>
            <td><a target="_blank"
                href="https://yandex.ru/maps/55/tyumen/?from=api-maps&amp;ll=65.522272%2C57.129103&amp;mode=usermaps&amp;origin=jsapi_2_1_79&amp;um=constructor%3Aa1c21a22720667468e2e00b1009b667e2403d7dfe330b5d32d3f3a4ab255bad4&amp;z=17"
                style="color:#334b88"><img alt="" src="/icon/geo1.png" width="30"></a></td>
            <td><a target="_blank"
                href="https://yandex.ru/maps/55/tyumen/?from=api-maps&amp;ll=65.522272%2C57.129103&amp;mode=usermaps&amp;origin=jsapi_2_1_79&amp;um=constructor%3Aa1c21a22720667468e2e00b1009b667e2403d7dfe330b5d32d3f3a4ab255bad4&amp;z=17"
                style="color:#334b88">625032, Тюменская область,<br>
                г. Тюмень,&nbsp;ул. Пархоменко, д. 54
            </a></td>
        </tr>
        <tr>
            <td  style="height: 5px;" >&nbsp;</td>
        </tr>
        <tr>
            <td><a href="https://t.me/shopAvtoAS" target="_blank"
                   style="color:#334b88"><img alt="" src="/icon/tg1.png" width="30"></a></td>
            <td>
                <a href="https://t.me/shopAvtoAS" target="_blank"
                    style="color:#334b88">Telegram: shopAvtoAS</a>
            </td>
        </tr>
        </tbody>
    </table>


</div>



</body>
</html>
